parameters:
    paths:
        - bin
        - src
        - tests
    level:
        max
    exceptions:
        check:
            tooWideThrowType: true
    bootstrapFiles:
        - ./vendor/autoload.php

